body {
    background-color: #457eac;
    font-family: 'Titillium Web', sans-serif;
    font-style: oblique;
    color: white;
    font-size: 16px;
}

h3{
    text-align: center;
}

.container {
    margin-top: 20px;
}

.wrapper {
    background-color: #457eac;
    overflow: auto;
    margin: 0 auto;
}

.logo {
    background-color: #457eac;
    height: 90px;
    overflow: auto;
    margin: 0 auto;
}

.image{
    float: left;
    margin-top: 20px;
    widows: 200px;
    margin-left: 500px;
}

.text_logo{
    float: left;
    margin-top: 20px;
    color: #fff;
    margin-left: 10px;
    max-width: 300px;
}


.content_home{
    background-color: #686868;
    overflow: auto;
    margin: 0 auto;
}

b{
    position: fixed;
    bottom:10px;
    right:10px;
  }

.bt_new_role {
    overflow: auto;
    align-items: center;
}

.bt_new_role button.main{
    margin-left: 580px;
}
  
.fab button{
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 30px;
    background-color: #686868;
    border: none;
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
    font-size: 24px;
    color: white;
        
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
}
  
.fab button.main{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #686868;
    right: 20px;
    bottom: 90px;
    z-index: 20;
}
  
.fab button.main:before{
    content: '+';
}
  
.fab button.main:active,
.fab button.main:focus{
    outline: none;
    background-color: #686868;
    box-shadow: 0 3px 8px rgba(0,0,0,.5);
}

.card {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 30px;
    border: none;
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
}

.card-header {
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #e6e6f2;
}

.card .card-header:first-child {
    border-radius: calc(4px - 1px) calc(4px - 1px) 0 0;
}

.accrodion-outline .card-body {
    border: 1px solid #d9d9e3;
    margin-top: -1px;
}