body {
    background-color: #457eac;
    font-family: 'Titillium Web', sans-serif;
    font-style: oblique;
    color: white;
    font-size: 16px;
}

h3{
    text-align: center;
}
.icon {
    height: 30px;
    width: 30px;
}

.container {
    margin-top: 20px;
}

.wrapper {
    background-color: #457eac;
    overflow: auto;
    margin: 0 auto;
}

.logo {
    background-color: #457eac;
    height: 90px;
    overflow: auto;
    margin: 0 auto;
}

.image{
    float: left;
    margin-top: 20px;
    widows: 200px;
    margin-left: 500px;
}

.text_logo{
    float: left;
    margin-top: 20px;
    color: #fff;
    margin-left: 10px;
    max-width: 300px;
}


.content_home{
    background-color: #686868;
    overflow: auto;
    margin: 0 auto;
}

.content_home_role{
    background-color: #686868;
    overflow: auto;
    margin: 0 auto;
}

.form_style {
    background-color: #686868;
    overflow: auto;
    margin: 0 auto;
}

.form_style label {
    color: #fff;
}

.form_style button {
    margin-bottom: 20px;
}


.bt_new_role {
    overflow: auto;
    align-items: center;
}

#btn_new_role {
    margin-left: 200px;
}

.wrapper_lists {
    background-color: #686868;
    overflow: auto;
    align-items: center;
    height: 550px;
}

.wrapper_lists table {
    background-color: #2d5d7b;
}

.wrapper_lists table td{
    color: #fff;
}

.wrapper_lists table img{
    cursor: pointer;
}
  
.card {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 30px;
    border: none;
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
}



.card-header {
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #e6e6f2;
}

.card .card-header:first-child {
    border-radius: calc(4px - 1px) calc(4px - 1px) 0 0;
}

.accrodion-outline .card-body {
    border: 1px solid #d9d9e3;
    margin-top: -1px;
}