<!doctype html>
<html lang="pt-br">
 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <title>Lista de Cargos</title>
</head>

<body>
    <div class="logo">
        <img src="images/logo_qbeneficios.jpeg" alt="" class="logo_main">
    </div>

    

    <script src="js/bootstrap.bundle.js"></script>

</body>
 
</html>